
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #c9c9d7;
  background-image: url('/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
}
